*{
    margin:10;
    padding: 10;
    box-sizing: border-box;
}
body{
    background: url(../image/lens-490806_1920.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: fixed;
    top: 36%;
    left: 38%;
}
section>.texto-principal{
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.titulo{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;

}
.subtitulo{
    font-family: "roboto",sans-serif;
    color: white;
    font-size: 30px;
}